@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");
p, h3, h2, h1, ul, li, label, .formulario {
  color: white;
}

.header, .footer {
  background-color: rgba(233, 241, 243, 0.123);
}

.nosotros, .formacion, .lista {
  background-color: rgba(208, 215, 223, 0.719);
  background-image: url(../media/estrellas.jpg);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Open Sans',sans-serif;
  background-color: rgba(20, 88, 90, 0.961);
}

.contenedor {
  width: 100%;
  height: 100px;
  max-width: 1170px;
  margin: auto;
}

header {
  width: 100%;
  height: 180px;
  background-color: rgba(209, 219, 189, 0.192);
}

.logo {
  padding: 10px 0px;
}

.logo img {
  width: 100px;
  display: block;
  margin: auto;
  border-radius: 50%;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 430px;
  margin: auto;
}

.menu a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  text-align: center;
}

.menu a:hover {
  color: #000;
  background-image: url(../media/estrellas.jpg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 10px 5px 4px rgba(236, 236, 236, 0.89);
          box-shadow: 10px 5px 4px rgba(236, 236, 236, 0.89);
}

/*fin header*/
/* inicio banner*/
.banner {
  width: 100%;
  height: 500px;
  background-image: url(../media/cosmo.jpg);
  background-position: center;
  background-size: cover;
}

.banner > div {
  width: 100%;
  height: 100%;
  background-color: rgba(209, 219, 189, 0.192);
}

.ban {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ban h1 {
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: white;
  background-color: rgba(0, 0, 0, 0.733);
  text-decoration: none;
  padding: 10px 40px;
  margin-top: 35px;
}

.ban h2 {
  font-size: 42px;
  width: 100%;
  padding: 45px 0;
  background-color: rgba(241, 241, 241, 0.336);
  max-width: 480px;
}

.ban a {
  font-size: 18px;
  text-decoration: none;
  color: white;
  padding: 10px 50px;
  background-color: rgba(0, 0, 0, 0.733);
  margin-top: 35px;
  -webkit-box-shadow: 0 5px 4px rgba(236, 236, 236, 0.89);
          box-shadow: 0 5px 4px rgba(236, 236, 236, 0.89);
}

.ban a:hover {
  color: #000;
  background-color: white;
  -webkit-transition: 1.5s;
  transition: 1.5s;
}

/*fin banner*/
/*nosotros*/
.nosotros {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
  border-radius: 15px;
  margin-top: 20px;
}

.nos {
  border: 1px solid white;
  border-radius: 15px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-bottom: 50px;
}

.nos--img {
  width: 300px;
  height: 180px;
  margin-right: 30px;
  border: 1px solid white;
  border-radius: 20px;
}

.nos--titulo {
  color: white;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.nos--parrafo {
  line-height: 28px;
  font-size: 1rem;
}

@media all and (min-width: 421px) and (max-width: 768px) {
  .nosotros {
    width: 80%;
  }
}

@media all and (max-width: 420px) {
  .nosotros {
    width: 100%;
  }
}

/*fin nosotros*/
/*servicios*/
.secFormacion {
  padding: 10px;
}

.formacion {
  max-width: 1000px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  border: 1px solid white;
  border-radius: 15px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  margin-top: 10px;
}

.formacion p, .h2 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.lista {
  max-width: 1000px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  border: 1px solid white;
  border-radius: 15px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.lista ul li {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  line-height: 30px;
}

/*fin formacion*/
/*novedades*/
.novedades h2 {
  text-align-last: center;
}

.carousel-item {
  max-width: 550px;
  width: 500px;
}

.container {
  width: 100%;
  width: 550px;
  margin-top: 60px;
  margin-bottom: 30px;
}

/*fin novedades*/
/*contacto*/
#Contacto h1, #Contacto form {
  text-transform: uppercase;
  margin-bottom: 5px;
  color: white;
  padding: 10px;
  line-height: 30px;
}

.formulario {
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 10px;
  padding: 15px;
  line-height: 30px;
}

.button {
  margin-left: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button button:hover {
  background-color: #14bcc2d5;
}

.button label {
  font-size: 16px;
  padding-bottom: 5px;
}

.button button {
  background-color: #f0f0e7;
  font-size: 14px;
  margin-top: 10px;
  width: 500px;
  border-radius: 10px;
  border: 3px solid #14bcc2d5;
}

.button textarea {
  width: 500px;
  height: 150px;
  border-radius: 10px;
  background-color: #f0f0e7;
  border: 3px solid #14bcc2d5;
}

@media all and (min-width: 421px) and (max-width: 768px) {
  .button textarea, .button button {
    width: 80%;
  }
}

@media all and (max-width: 420px) {
  .buton textarea, button button {
    width: 100%;
  }
}

/*fin contacto*/
/*footer*/
#info-contacto {
  width: 66%;
  float: left;
  padding-bottom: 25px;
  font-size: 17px;
  color: rgba(253, 253, 252, 0.918);
  margin: 10px 0 15px 10px;
}

#info-contacto h3 {
  margin: 0 0 15px 0;
  color: #B7CACD;
  font-size: 19px;
  font-weight: normal;
  font-family: 'Rosario', sans-serif;
}

#info-contacto h3 span {
  color: #A0E9F2;
}

#suscripcion {
  float: right;
  width: 33%;
  padding-bottom: 25px;
}

.newsletter-suscripcion {
  margin-right: 30px;
  background-origin: padding-box;
}

.newsletter-suscripcion h3 {
  margin: 0 0 15px 0;
  color: #B7CACD;
  font-size: 19px;
  font-weight: normal;
  font-family: 'Rosario', sans-serif;
}

.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
}

.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group > .btn, .input-group-btn:first-child > .dropdown-toggle, .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle), .input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.input-group-btn {
  position: relative;
  font-size: 0;
  white-space: nowrap;
}

.input-group-addon, .input-group-btn {
  width: 1%;
  vertical-align: middle;
}

.input-group-btn, .input-group-addon, .input-group .form-control {
  display: table-cell;
}

.input-group .form-control {
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  margin-bottom: 0;
}

.newsletter-signup-controls input {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.form-control {
  padding: 4px 12px;
  line-height: 1.42;
  color: #777777;
  border-radius: 4px;
}

.btn {
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-indent: 0px;
  text-shadow: none;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 6px;
  background-color: #777777;
  border-radius: 4px;
}

.newsletter-signup-message {
  color: #FFF;
}

.top-footer {
  padding-top: 20px;
  border-top: 8px solid #B7CACD;
  position: relative;
}

.bottom-footer {
  height: 25px;
  padding-top: 20px;
}

.bottom-footer p {
  text-align: center;
  font-size: 10px;
  color: white;
  background-color: rgba(9, 53, 54, 0.961);
}

.social-media ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 430px;
  margin: auto;
  padding-top: 15px;
  padding-bottom: 30px;
}

.social-media ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 430px;
  margin: auto;
  padding-top: 15px;
  padding-bottom: 30px;
}

.social-media ul li {
  list-style-type: none;
  margin: 0px 15px;
}

.social-media ul li .fab {
  font-size: 30px;
  line-height: 60px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  color: #faf3f3;
}

.social-media ul li a {
  display: block;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  position: relative;
  background-image: url(../media/estrellas.jpg);
  text-align: center;
  padding-top: 18px;
  -webkit-box-shadow: 0 5px 4px rgba(236, 236, 236, 0.89);
          box-shadow: 0 5px 4px rgba(236, 236, 236, 0.89);
}

.fa {
  color: white;
  font-size: 20px;
}

.social-media ul li .fab:hover {
  color: #fff;
  background-color: blanchedalmond;
}

.social-media ul li a:hover {
  -webkit-transform: translate(0, -15%);
          transform: translate(0, -15%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.social-media ul li:nth-child(1) a:hover {
  background-color: #3b5998;
}

.social-media ul li:nth-child(2) a:hover {
  background-color: #11e7cb;
}

.social-media ul li:nth-child(3) a:hover {
  background-color: #f21d76;
}
/*# sourceMappingURL=estilos.css.map */