

p, h3, h2, h1, ul, li, label, .formulario{
    color:$texto;
}

.header, .footer{
    background-color: rgba(233, 241, 243, 0.123);
}
.bottom-footer{
    background-color:  rgba(9, 53, 54, 0.961);

}


.nosotros, .formacion, .lista{
    background-color: rgba(208, 215, 223, 0.719);
    background-image: url(../media/estrellas.jpg);
}

