$primario:#000;
$secundario: rgba(209, 219, 189, 0.192);
$fondo:rgba(253, 253, 252, 0.918);
$texto: white;       
$fuente: 'Open Sans', sans-serif;
$fuente-ligth: 300;
$fuente-regular: 400;
$fuente-bold: 700;