@import "variables";
@import "main";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');


  
  *  {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	

}

body{

font-family: 'Open Sans',sans-serif;
background-color: rgba(20, 88, 90, 0.961);


}

.contenedor {
	width: 100%;
	height: 100px;
	max-width: 1170px;
	margin:auto;   
}


header{
	width: 100%;
	height: 180px;
	background-color: $secundario;				
}

.logo{
	
	padding: 10px 0px;	
}


	.logo img{
	
	width: 100px;
	display:block;
	margin:auto;
	border-radius: 50%;
	}
	

 .menu{
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	max-width: 430px;
	margin:auto;
	
		
 }

 .menu a{
	color: $texto;
	text-decoration: none;
	font-size: 14px;
	text-align: center;
	}

	.menu a:hover{
		color:$primario;
			background-color: $fondo;
			transition: 0.5s;	
	}

	/*fin header*/

	/* inicio banner*/

	.banner{
		width: 100%;
		height: 500px;
		background-image: url(../media/cosmo.jpg);
		background-position: center;	
		background-size: cover;
		
	}

	.banner > div{
		width: 100%;
		height: 100%;	
		background-color: rgba(209, 219, 189, 0.192);
	}

	.ban{

		text-align: center;
		display: flex;
		flex-flow: column wrap;
		justify-content: center;
		height: 100%;
		align-items: center;	
	}

		.ban h1{
		font-size:18px;
		text-transform: uppercase;
		margin-bottom: 20px;
		color: white;
		background-color: rgba(0, 0, 0, 0.733); 
		text-decoration: none;
		padding: 10px 40px;
		margin-top: 35px;
		
		
		}
		

    .ban h2 {
		font-size: 42px;
		width: 100%;
		padding: 45px 0;
		background-color: rgba(241, 241, 241, 0.336); 
		max-width: 480px;
		
	}

		.ban a{
				 font-size: 18px;
				 text-decoration: none;
				 color: white;
				 padding: 10px 50px;
				 background-color: rgba(0, 0, 0, 0.733); 
				 margin-top: 35px;
				 box-shadow: 0 05px 4px rgba(236, 236, 236, 0.89);			
				 
		}
	.ban a:hover{
		color: $primario;
		background-color: $texto;
		transition: 1.5s;
	}
	
	/*fin banner*/
 
    /*nosotros*/

.nosotros {
	max-width: 1000px;
	width: 90%;
	margin: 0 auto;
	border: 1px solid white;
	margin-top: 20px;
	
}

.nosotros {
	
	border-radius: 15px;
	padding: 20px;
	display: flex;
	align-items: center;
	position: relative;
	margin-bottom: 10px; 
}

.nos--titulo {
	font-size:1.5rem;
	margin-bottom: 10px;
	color: white;
}

.nos--parrafo {
	line-height: 28px;
	font-size:1rem;	
}


@media all  and (min-width:421px) and (max-width:768px){
	.nosotros{
		width: 80%;
	}
}
@media all and (max-width:420px) {
	.nosotros{
		width: 100%;
	}
	
}
/*fin nosotros*/

/*servicios*/


.formacion{
	max-width: 1000px;
	height: max-content;
	border: 1px solid $texto;
	border-radius: 15px;
	padding: 20px;
	display: flex;
	margin-bottom: 10px;
	margin-top: 10px;
}
	.formacion p, .h2{
		justify-content: center;

}
.lista{
	max-width: 1000px;
	height: max-content;
	border: 1px solid white;
	border-radius: 15px;
	padding: 20px;
	display: flex;
	

}
.lista ul li{
	text-align: left;
		display: flex;
		margin:10px;
		flex-flow: column wrap;
		justify-content: center;
		margin: auto;
		line-height: 30px;
		}
		/*fin formacion*/

         /*novedades*/
.novedades h2{
	text-align-last: center;
	

}
.carousel-item{
	max-width: 550px ;
	width: 500px;
}

.container{
	width: 100%;
	width: 550px;
	margin-top:80px;

}

/*fin novedades*/

/*contacto*/

#Contacto{
	h1, form{
	text-transform: uppercase;
	margin-bottom: 10px;
	color: $texto;
	padding: 15px;
	line-height: 30px;
	}
	}


.formulario{
	font-size:14px;
	text-transform: uppercase;
	margin-bottom: 10px;
	padding: 15px;
	line-height: 30px;
}

.button{

	margin-left:15px;
	flex-flow: column wrap;
	padding-top: 15px;
	display: flex;
	padding-bottom: 50px;
	

}
.button button:hover{
    background-color: #14bcc2d5;
    

}
.button label{
	font-size: 16px;
	padding-bottom: 10px;
}

.button button{
	background-color: #f0f0e7;
	 font-size: 14px;
	 margin-top: 10px;
	 width: 500px;
	 border-radius: 10px;
	 border: 3px solid #14bcc2d5;
	 	 
}
.button textarea{
	width: 500px;
	height: 150px;
	border-radius: 10px;
	background-color: #f0f0e7;
	border: 3px solid #14bcc2d5;
	
}

@media all  and (min-width:421px) and (max-width:768px){
	.button textarea, .button button{
		width: 80%;
	}
}
@media all and (max-width:420px) {
	.buton textarea, button button{
		width: 100%;
	}
	
}
/*fin contacto*/



/*footer*/

 #info-contacto{
	width: 66%;
	float: left;
	padding-bottom: 25px;
	font-size:17px ;
	color:$fondo;
	margin: 10px 0 15px 10px;
	h3{
	margin: 0 0 15px 0;
    color: #B7CACD;
    font-size: 19px;
    font-weight: normal;
    font-family: 'Rosario', sans-serif;
	
		span{
			color: #A0E9F2;
		}
	
}

	}

#suscripcion{
	float:right;
	width: 33%;
	padding-bottom: 25px;
		 
}
.newsletter-suscripcion{
	
	margin-right: 30px;
	background-origin: padding-box;
}

.newsletter-suscripcion h3{
	margin: 0 0 15px 0;
    color: #B7CACD;
    font-size: 19px;
    font-weight: normal;
    font-family: 'Rosario', sans-serif;
}

.input-group{
	
position: relative;
display: table;
border-collapse: separate;
}


.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group > .btn, .input-group-btn:first-child > .dropdown-toggle, .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle), .input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.input-group-btn{
	position: relative;
	font-size: 0;
	white-space: nowrap;
}
.input-group-addon, .input-group-btn{
	width: 1%;
	vertical-align: middle;
}
.input-group-btn, .input-group-addon, .input-group .form-control{
	display: table-cell;
	
}

.input-group .form-control{
	position: relative;
	z-index: 2;
	float: left;
	width: 100%;
	margin-bottom: 0;
}
.newsletter-signup-controls input{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	border: none;
	box-shadow: none;
}
.form-control{
	padding: 4px 12px;
	line-height:1.42;
	color:#777777;
	border-radius: 4px;
	
}

.btn{
	text-rendering: auto;
	letter-spacing: normal;
	word-spacing: normal;
	text-indent: 0px;
	text-shadow: none;
	align-items: flex-start;
    padding: 6px;
    background-color: #777777;
    border-radius: 4px;
}

.newsletter-signup-message {
    color: #FFF;
}



.top-footer{
	padding-top: 20px;
    border-top: 8px solid #B7CACD;
    position: relative;
}

	.bottom-footer{
		height: 25px;
}

.bottom-footer p{
	text-align: center;
	font-size: 10px;
	color: $texto;
}


.social-media ul{

	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 430px;
	margin:auto;
	padding-top: 15px;
	padding-bottom: 30px;
	
}
.social-media ul li{

	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	max-width: 430px;
	margin:auto;
	padding-top: 15px;
	padding-bottom: 30px;
	
}


.social-media ul li{
    list-style-type: none;
    margin: 0px 15px;
}

.social-media ul li .fab{
    font-size: 30px;
    line-height: 60px;
    transition: 0.6s;
    color: #faf3f3;
	
}

.social-media ul li a{
    display: block;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    position: relative;
    background-color: #000;
    text-align: center;
	padding-top:18px ;
    box-shadow: 0 05px 4px rgba(236, 236, 236, 0.89);
}
.fa{
	color: $texto;
	font-size: 20px;
}

.social-media ul li .fab:hover{
    color: #fff;
	background-color: blanchedalmond;
}
.social-media ul li a:hover{
    transform: translate(0, -15%);
    transition: 0.5s;
}

.social-media ul li:nth-child(1) a:hover{
    background-color: #3b5998;
}
.social-media ul li:nth-child(2) a:hover{
    background-color: #11e7cb;
}

.social-media ul li:nth-child(3) a:hover{
    background-color: #f21d76;
}